body{
    background-image: linear-gradient(to left,#164B7C , #FDBD15 );}

.tcnj{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-size: 50px;
}
