body{
    background-color: #a67a00
}

.tcnj{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
  font-size: 50px;
}

.maybe{
    background-color: #293F6F;
}
  
h3{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
}